body{border-radius:27px;margin:0;padding:0;background-color:white;}
img {border:0px;}
.feed-container{font-family:Arial, Helvetica, sans-serif;font-size:12px;}
.feed-container  a{color:#333;text-decoration:none;}
.feed-container  a:hover{color:#3d3d3d;text-decoration:underline;}
.feed-container .header{margin:0px;padding:5px 5px 5px 5px;font-size:14px;border-bottom:1px solid #fff;text-align:center;}
.feed-container .footer{margin:0px;padding:5px 5px 5px 5px;color:black;}
.feed-container .header .title{margin:0;padding:0;font-weight:bold;color:#333;}
.feed-container .content{margin:0px;padding:0 3px;}
.feed-container .content .item{margin:0 0 7px 0;padding:0 0 7px 0;border-bottom:1px dotted #fff;}
.feed-container .content .item .title{margin:1px 0 1px 3px;padding:1px 2px 1px 3px;color:#333;font-weight:bold;}
.feed-container .content .item .description{margin:0 0 0 3px;padding:0 2px 0 3px;color:black;}
.feed-container .content .item .description a{text-decoration:none;color:black;}
.feed-container .content .item .description a:hover{text-decoration:underline;color:black;}
